body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header a {
  color: #fff;
  text-decoration: none;
}

.section {
  padding: 20px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-item {
  width: 31%;
  margin-bottom: 20px;
}

.work-item img {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form input,
form textarea {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}

form button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@media (max-width: 768px) {
  .work-item {
    width: 48%;
  }
}

@media (max-width: 576px) {
  .work-item {
    width: 100%;
  }
}
#switch-mode {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Add styles for dark mode */
body.dark-mode {
  background-color: #333;
  color: #fff;
}

/* Hide the light icon in dark mode */
body.dark-mode #light-icon {
  display: none;
}

/* Show the dark icon in dark mode */
body.dark-mode #dark-icon {
  display: inline-block;
}

/* Add styles for light mode */
body.light-mode {
  background-color: #fff;
  color: #333;
}

/* Hide the dark icon in light mode */
body.light-mode #dark-icon {
  display: none;
}

/* Show the light icon in light mode */
body.light-mode #light-icon {
  display: inline-block;
}
