body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f2f2f2;
  color: #333;
}

header {
  text-align: center;
  padding: 100px 0;
}

header h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

header p {
  font-size: 24px;
  font-weight: 600;
  color: #999;
}

nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  color: #ccc;
}

main {
  padding: 100px 0;
}

section {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

section h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

section p {
  font-size: 18px;
  margin-bottom: 50px;
  line-height: 1.5;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section li {
  margin-bottom: 50px;
}

section li h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

section form input,
section form textarea {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

section form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

section form input[type="submit"]:hover {
  background-color: #999;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 50px 0;
}

footer p {
  font-size: 18px;
  margin: 0;
}
